/*
 * HeadsUp Agile
 * Copyright 2009-2014 Heads Up Development.
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 */

table.docs, table.info, table.details, table.comments, table.attachments, textarea {
    width: 100%;
}

table.docs th, table.issues td {
    padding: 2px;
}

th.id, th.attachment {
    width: 16px;
}

th.type, th.priority, th.status, th.project, td.project {
    width: 80px;
    white-space: nowrap;
}

table.details, table.comments, table.attachments {
    margin-top: 1em;
}

table.key {
    width: 100%;
    margin-top: 1em;
}

table.key td {
    width: 17%;
    padding: 2px;
    text-align: center;
}

pre {
    padding: 5px;
    border: 1px dashed black;
    font-size: 75%;
    
    -moz-tab-size: 4;
    -o-tab-size:   4;
    tab-size:      4;
}

.attachment-filename {
    width: 50%;
}

.attachment-username, .attachment-created {
    width: 25%;
}

.preview {
    border: 1px dashed black;
    background-image: url(previewbg.png);
    margin: 10px 0;
    padding: 5px;
}

.siteembed iframe {
    width: 100%;
}

.siteembed, .apiframe {
    height: 100%;
    position: relative;
}

.comment-icon {
    width: 16px;
}

#doc-content, .mceContentBody {
    background-color: white;
}

#doc-content table, .mceContentBody table {
    border-collapse: separate;
    border: 1px solid grey;
}

#doc-content table,  #content td, .mceContentBody table, .mceContentBody td {
    border-spacing: 0;
    padding: 0 3px;
}

h1 input {
    font-size: 22pt;
    font-weight: bold;
}

.comment-text {
    position:relative;
    bottom:10px;
    left:5px
}