/*
 * HeadsUp Agile
 * Copyright 2010-2014 Heads Up Development Ltd.
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 */

table.importproject, table.importproject input,
form.projectlist table.projects, form.projectlist table.projects input {
    width: 100%;
}

table.importproject td {
    overflow: hidden;
}

.importproject span.input {
    width: 100%;
    white-space: nowrap;
    display: block;
}

.importproject span.input input {
    width: 100%;
}

form.projectlist table.projects tr, form.projectlist table.projects td {
    width: 50%;
}

td.username, td.permissionname, td.projectname {
    text-align: left;
    font-weight: bold;
    border-right: 1px solid gray;
    width: 180px;
}

td.rolecheck, td.permissioncheck, td.usercheck {
    text-align: center;
}

th.permissionname, th.rolename, th.username {
    border-left: 1px solid gray;
    padding: 2px 3px;
    text-align: center;
}

span.disabled {
    color: gray;
    text-decoration: line-through;
}

form.config table, table.config {
    width: 100%;
}

form.config table td {
    width: 50%;
    overflow: hidden;
}

form.config table td img.delete, form.config table td img.add {
    float: left;
    margin-right: 3px;
}

form.config .default {
    float: right;
    padding-right: 5px;
}

form.config td input {
    width: 100%;
}

form.config span.input {
    width: 100%;
    white-space: nowrap;
    display: block;
}

form.config .description {
    padding-left: 20px;
    vertical-align: top;

    color: gray;
    font-size: 80%;
}

div.error {
    margin-bottom: 10px;
}

span.projecttype {
    font-weight: bold;
}

span.statsvalue {
    font-weight: bold;
}

table.stats {
    width: 100%;
    margin-top: 3px;
    margin-bottom: 15px;
}

table.stats td, table.stats th {
    width:  25%;
}

table.stats td.wide, table.stats th.wide {
    width: 75%;
}

table.stats td {
    padding-left: 5px;
}

form.config table.listing {
    margin: 0;
    padding: 0;
    border: none;
    border-collapse: collapse;
}

form.config fieldset {
    background: white;
    margin: 0;
}

.projectmember {
    padding: 2pt;
    margin: 4px 1px;
    width: 150pt;
    float: left;

    background-color: #F7F8F3;
    font-size: 10pt;
}

.projectmember .usercheck, .projectmember .project {
    display: inline;
}

.projectmembership .buttons {
    clear: both;
    display: block;
}
.projectmembership input {
    margin-top: 6px;
}

.userlink {
    position: relative;
    bottom: 7pt;
}

.disable {
    position: relative;
    bottom: 5pt;
}

tr.ignoreitems {
    vertical-align: top;
}

div.ignoreitem {
    width: 150pt;
    display: inline-block;
}
