/*
 * HeadsUp Agile
 * Copyright 2009-2016 Heads Up Development Ltd.
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 */

html {
    margin: 0;
}

body {
    margin: 0;
    /* Center in older browsers */
    text-align: center;

    height: 100%;
}

#outerpage {
    position: absolute;
    top: 0;
    right: 0;
    height:auto;
    min-height:100%;
    width: 100%;
}

#page {
}

body {min-height: 100%;} /* for proper browsers */
*html #outerpage {height: 100%;} /* for IE */

#header1 {
    position: fixed;
    top:0;
    width:100%;

    height: 32pt;
    overflow: hidden;
}

#header1 a {
    font-weight: normal;
}

#header1 .headbutton {
    text-decoration: none;
    white-space: nowrap;
    display: inline-block;

    cursor: pointer;
}

#header1 #userpanel .headbutton {
    padding: 9px 5pt;
}

#footer {
    position: absolute;
    bottom: 0;

    width:  100%;
    height: 38pt;
}

#footer .description {
    display: block;
    
    width: 100%;
    line-height: 275%;
}

#footer .copyright {
    display: block;

    width: 100%;
    bottom: 13px;
}

#footer .headsupdev {
    display: none;
}

*html #footer {width: 100%}

#footer .note, #footer .update {
    color: red;
    text-decoration: none;
}

#mainmenu, #submenu {
    height: 16px;
    white-space: nowrap;
}

#mainmenu a, #submenu a {
    text-decoration: none;
    color: #545A5A;
}

#mainmenu ul, #submenu ul {
    margin: 0 !important;
    padding: 0 !important;
    list-style: none;
    display: inline;
}

#mainselect, #subselect {
    display: none;
}

#mainmenu {
    position: fixed;
    top: 32pt;
    width: 92pt;
    height: 100%;
}

#mainmenu ul {
    padding: 0 30px;
}

#submenu {
    float: right;
}

#submenu li {
    display: inline;
}

#projectmenu {
    width: 193pt;
    position: absolute;
    left: 92pt;
    top: 32pt;
    z-index: 299;

    float: right;
}

#projectmenu.up {
    height: 0;
    overflow: hidden;
}

#projectmenu.down {
    height: auto;
    overflow: hidden;
}

#projectmenu-header {
    height: auto;
    font-size: 0;
}

#projectmenu-footer {
    height: auto;
    font-size: 0;
}

#projectmenu-content a {
    white-space: nowrap;
}

#projectmenu .projectgroup {
    display: block;
}

#projectmenu ul {
    list-style: none;

    overflow: hidden;
}

#projectselect {
    position: fixed;
    z-index: 299;
    left: 92pt;
    top: 0;
    cursor: pointer;
}

#header1 .quicksearch {
    position: inherit;
    top: 2px;
    right: 175pt;
    left: 285pt;
    height: 30pt;
    z-index: 200;
}

#header1 .quicksearch .input {
    width: 100%;
    height:30pt;

    outline: none !important;
}

#header1 .quicksearch .submit {
    position: relative;
    top: -32pt;
    right: 0;

    height: 32pt;
    border: none;
    cursor: pointer;
}

#userpanel {
    position: absolute;
    right: 0;
    top: 0;

    font-size: 10pt;
    list-style: none;
    display: inline;
    margin: 0;
    padding: 0;
}

#userpanel li {
    display: inline;
    padding: 0;
}

#userpanel a {
    color: white;
}

#userpanel a:hover {
    color: #FFDF00;
}

#userpanel .search {
    display: none;
}

#userpanel .username {
    padding: 0 5pt;
}

#userpanel .totals {
    font-weight: bold;
    font-size: 11pt;

    padding: 1pt 5.5pt;
    margin-top: -3pt;
    margin-bottom: -3pt;
    display: block;
    border: 1px solid white;

    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

#userpanel .totals.overdue {
    color: white;
    background-color: #e95622;
    border: 1px solid #e95622;
}

#userpanel .totals.duesoon {
    color: white;
    background-color: #ee8c0c;
    border: 1px solid #ee8c0c;
}

#userdashboard {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;

    max-height: 480px;
    z-index: 300;
}

#userdashboard .dashmilestone .due {
    float: right;
}

#userdashboard .dashboard {
    display: block;
    width: auto;
    height: auto;
    max-height: 420px;

    overflow: scroll;
    overflow-x: hidden;
    overflow-y: scroll;
}

#userdashboard .dashheader {
    height: 18px;
}

#userdashboard.up {
    height: 0;
    width: 100%;
    overflow: hidden;
}

#userdashboard.down {
    height: auto;
    width: 100%;
    overflow: hidden;
}

#userdashboardbackground {
    z-index: 199;
}

#userdashboardbackground.up {
    opacity: 0;
    display: none;
}

#userdashboardbackground.down {
    opacity: 1;
    display: block;
}

#userdashboard .due {
    white-space: nowrap;
}

#userdashboard .velocity {
    width: 100%;
    vertical-align: top;
}

.velnumber {
    text-align: center;
    font-size: 52pt;
    font-weight: bold;
    white-space: nowrap;
    padding: 0;
}

#content {
    padding: 46pt 12pt 18pt 106pt;

    display: block;
    margin-bottom: 45pt;
}

#tinymce {
    display: block;
}

.clearBeforeFooter {
    clear: both;
    height: 0;
}

.avatar img {
    padding: 0px !important;
    border: 1px solid #545A5A;

    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

/* Tabbed panel style */
div.tabs div.tab-row {
    font-size: 11pt;
    float: right;
    width: 100%;
    background-color: #ebecee;
}

div.tabs div.tab-row ul {
    margin: 0;
    padding: 0px;
    list-style: none;
}

div.tabs div.tab-row li {
    float: left;
    
    background-color: #ebecee;
}

div.tabs div.tab-row a {
    display: block;
    padding: 5px 15px;
    text-decoration: none;
    font-weight: bold;
    white-space: nowrap;
    color: #545A5A;
    background-color: #ebecee;
}

div.tab-panel {
    clear: right;
    margin: 0;
}

#content div.tabs div.tab-row a:hover {
    background-color: white;
    color: black;
}

div.tabs div.tab-row li.selected {
    background-color: white;
}

div.tabs div.tab-row li.selected a {
    background-color: white;
    color: #25b6e6;
}

/* advanced panels */

#advanced.advancedhidden {
    display: none;
}

#advanced.advancedvisible {
    display: inline;
}

/* dialog style */

.dialog {
    position: fixed;
    left: 50%;
    top: 50%;
    z-index: 999;
}

.dialog .dialogcontent {
    margin-left: auto;
    margin-right: auto;
    padding: 2px;

    background-color: #FAFBF6;
    border: 10px solid #FAFBF6;
    text-align: left;
    margin-left: auto;

    width: 340pt;
    position: relative;
    margin-top: -110pt;
    margin-left: -170pt;
    z-index: 1000;
    
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    box-shadow: 0 0 10px #000000;
}

.dialog .dialogcontent table {
    margin-left: auto;
    margin-right: auto;

    text-align: left;
}

.dialog .dialogcontent table td, .dialog .dialogcontent table th {
    padding: 5px;
    border: none;
    width: 100%;
}

.dialog .dialogtitle, .dialog .dialogtitle h3 {
    font-size: 18pt;
    color: #545A5A;
    border-bottom: 1px solid #d8d8d6;

    width: 100%;
    padding-bottom: 12px;
    padding-top: 5px;
}

.dialog form {
    margin-top: -10px;
}

.dialog .textinput {
    width: 420px;
    height: 50px;
    margin: 5px 0;
    padding: 0 15px;

    font-size: 14pt;
    font-weight: normal;
    border: none;

    background: url(images/input-bg.png);
    background-repeat: no-repeat;
}

.dialog .rememberme {
    width: 100%;
    font-size: 10pt;
}

.dialog .rememberme input {
    margin-left: 10px;
}

.dialog .formbuttons {
    height: 30pt;
}

.dialog .switchformbuttonsok, .dialog .switchformbuttonscancel {
    color: white;
    border: none;
    cursor: pointer;

    font-size: 14pt;
    font-weight: bold;
    padding: 10px;

    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;

}

.dialog .switchformbuttonsok {
    background-color: #1198c5;
}

.dialog .switchformbuttonscancel {
    background-color: #c0c0c0;
}

.dialog .dialogfooter {
    font-size: 10pt;
    font-style: italic;

    padding: 0;
    margin-bottom: 0;
}

.dialog .dialogbackdrop, #userdashboardbackground {
    background-image: url(images/dialog-backdrop.png);
    background-repeat: repeat;

    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.dialog .dialogbackdrop {
    z-index: 999;
}

/* Tabular styles */

table.listing td.paging {
    background-color: transparent;
    text-align: center;
    padding-top: 0;
}

table.listing td.paging .firstblock {
    float: left;
}

table.listing td.paging .lastblock {
    float: right;
}

table.listing td.paging em {
    font-style: normal;
    color: gray;
}

table.listing td.paging .page span {
    text-decoration: underline;
}

table.listing th.wicket_orderUp a {
    background-image: url(/resources/org.headsupdev.agile.web.HeadsUpPage/images/arrow_up.png);
    background-repeat: no-repeat;
    background-position: right;
    padding-right: 16px;
}

table.listing th.wicket_orderDown a {
    background-image: url(/resources/org.headsupdev.agile.web.HeadsUpPage/images/arrow_down.png);
    background-repeat: no-repeat;
    background-position: right;
    padding-right: 16px;
}

/* Filter box style */
div.filterborder {
    clear: both;
}

#filter.filterhidden {
    height: 0;
    overflow: hidden;
}

#filter.filtershown {
    height: auto;
    overflow: hidden;
}

#filter {
    width: 100%;
    margin-bottom: 10px;
}

#filter form, #filter table {
    width: 100%;
    margin: 0;
}

#filter table td {
    border: none;
}

#filter form .buttons {
    text-align: right;
}

#filterbutton {
    position: absolute;
    left: 106pt;
    top: 96pt;
    margin-top: -52pt;

    padding: 5pt;
    padding-right: 35px;
    font-weight: bold;

    cursor: pointer;
    border-left: 1px solid white;
}

#filterbutton.filterbuttonhidden {
    background-image: url( images/filter-button.png );
    background-position: 65px -26px;
    background-repeat: no-repeat;
}

#filterbutton.filterbuttonshown {
    background-image: url( images/filter-button.png );
    background-position: 65px 13px;
    background-repeat: no-repeat;
}

#filterbutton:hover {
    color: #3ccfff;
}

/* autocomplete */
div.wicket-aa {
    border: 1px solid lightgray;
    background-color: white;
}

div.wicket-aa ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

div.wicket-aa li {
    color: #545A5A;
    font-size: 12pt;
    text-align: left;
    padding: 2px 4px;

    white-space: nowrap;
    overflow: hidden;
}

div.wicket-aa li.selected {
    color: #1298c4;
    background-color: #F0F1EA;
    cursor: pointer;
}

/* progress bar */
div.wicketstuff-progressbar span.bar{
    background-image: url(/resources/org.headsupdev.agile.web.HeadsUpPage/images/progress-bg.png) !important;
    background-color: #000 !important;
    border-color: #000 !important;
}

/* error page output */
#stacktrace {
    font-size: 9pt;
    padding: 5px;
    border: 1px dashed black;
}

#stacktrace.stackhidden {
    display: none;
}

#stacktrace.stackvisible {
    display: inline;
}

/* speech bubbles */

.speechbubble {
    display: inline-block;
    margin: 0;
    margin-bottom: 30px;

    position: relative;
    padding: 5px;
    color: black;
    background: white;
    border: 2px solid black;

    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.speechbubble:before {
    content: "";
    position: absolute;
    bottom: -12px;
    left: 10px;
    border: 0;

    border-left-width: 12px;
    border-bottom-width: 12px;
    border-style: solid;
    border-color: transparent black;

    /* reduce the damage in FF3.0 */
    display: block;
    width: 0;
}

.speechbubble:after {
    content: "";
    position: absolute;
    bottom: -7px;
    left: 12px;
    border: 0;

    border-left-width: 7px;
    border-bottom-width: 7px;
    border-style: solid;
    border-color: transparent white;

    /* reduce the damage in FF3.0 */
    display: block;
    width: 0;
}

.speechbubble.big {
    font-size: 65pt;
    font-weight: bold;
    margin: 10pt 10pt 60px 10pt;

    padding: 25px;
    border: 10px solid black;

    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
}

.speechbubble.big:before {
    bottom: -60px;
    left: 60px;

    border-left-width: 60px;
    border-bottom-width: 60px;
}

.speechbubble.big:after {
    bottom: -36px;
    left: 70px;

    border-left-width: 36px;
    border-bottom-width: 36px;
}


