/* @override http://localhost:8069/resources/org.headsupdev.agile.web.HeadsUpPage/mobile.css */

.hiddenonmobile {
    display: none !important;
}

#header1 {
    padding: 0 8px;
}

#header2 {
    padding: 14px 2px;
    border-bottom: 1px solid lightgray;
}

#userpanel {
    right: 0;
    top: 34px;
}

#userpanel {
    padding: 0;
    list-style: none;

    background-color: #4b4b4b;
    border-bottom: 1px solid #F0F1EA;
    border-left: 1px solid #F0F1EA;
    border-right: 1px solid #F0F1EA;
    overflow: hidden;

    z-index: 250;
}

#userpanel li {
    display: block;
    padding: 4pt 5pt !important;
}

#header1 .headbutton:hover {
	background-image: none;
}

#header1 #userpanel .headbutton {
	padding: 0;
}

#userpanel .search {
    display: inherit;
}

#userpanel.up {
    height: 0;
    border-bottom: 0 solid #F0F1EA;
}

#userpanel.down {
    height: auto;
    border-bottom: 1px solid #F0F1EA;
}

#userpanelbutton {
    display: block;
}

#mainselect, #subselect {
    display: block;
}

#mainselect {
    position: absolute;
    right: 35px;
    top: 38px;
    font-size: 13pt;
    font-weight: bold;
    color: #545A5A;
    cursor: pointer;
}

#mainmenu {
    position: absolute;
    right: 32px;
    top: 62px;
    
    padding: 0 !important;
    list-style: none;

    background-color: #F0F1EA;
    background-image: none;
    border-top: none;
    border-left: 1px solid lightgray;
    border-right: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    overflow: hidden;

    z-index: 250;
}

#mainmenu.up {
    height: 0;
    overflow: hidden;

    border-bottom: 0 solid lightgray;
}

#mainmenu.down {
    height: auto;
    overflow: hidden;

    border-bottom: 1px solid lightgray;
}

#mainmenu li {
    display: block;
    padding: 4pt 5pt !important;
    margin:0;
}

#mainmenu li.mainmenu-item-selected {
	background-image: none;
}

.mainmenu-item:hover, .mainmenu-item a:hover {
	background-image: none;
}

#subselect {
    position: absolute;
    right: 8px;
    top: 31px;
    font-size: 20pt;
    font-weight: bold;
    color: #545A5A;
    cursor: pointer;
}

#submenu {
    position: absolute;
    right: 0;
    top: 62px;
    
    padding: 0 !important;
    padding: 0;
    list-style: none;

    background-color: #F0F1EA;
    background-image: none;
    border-top: none;
    border-left: 1px solid lightgray;
    border-right: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    overflow: hidden;

    z-index: 250;
}

#submenu.up {
    height: 0;
    overflow: hidden;

    border-bottom: 0 solid lightgray;
}

#submenu.down {
    height: auto;
    overflow: hidden;

    border-bottom: 1px solid lightgray;
}

#submenu li {
    display: block;
    padding: 4pt 5pt !important;
    margin:0;
}

.submenu-item:hover, .submenu-item a:hover {
	background-color: transparent;
}

#projectselect {
    left: 8px;
    top: 38px;
}

#projectmenu {
    left: 0;
    top: 62px;
}

#footer {
    padding: 5px 0;
    height: 62px;
}

#footer .description {
    position: absolute;
    bottom: 22px;
    left: 2px;
    
    line-height: 150%;
}

#footer .content {
    padding: 0 2px;
    background-color: #cecfca;
}

#footer .footer2 {
    position: absolute;
    bottom: 38px;
    left: 2px;
    line-height: 150%;
}

#footer .copyright {
    position: absolute;
    bottom: 5px;
    left: 2px;
    width: 100%;
}

#footer .headsupdev {
    display: none;
}

#footer .note, #footer .update {
    position: absolute;
    bottom: 38px;
    right: 4px;
}

#mainmenu, #submenu {
    overflow: hidden;
    padding: 6px 0;
}

#mainmenu ul, #submenu ul {
    padding: 0;
}

#mainmenu li, #submenu li {
    padding: 6px 8px;
}

#taskpanel {
    display: none;
}

#submenu {
    margin: 0;
}

#content {
    padding: 2px 2px;
    margin-bottom: 65px;
}

.dialog {
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    margin: 10px;
}

.dialog .dialogcontent {
    width: 95%;

    margin: auto;
    padding: 0;

    top: 32px;
    overflow: hidden;
}

.dialog .dialogcontent form {
    width: 100%;
    margin: auto;
    text-align: center;
}

.dialog .dialogcontent form .rememberme {
    width: 100%;
    display: block;
    text-align: left;
}

.dialog .dialogcontent .textinput {
    width: 90%;
    -webkit-background-size: 100% 50px;
    -moz-background-size: 100% 50px;
    background-size: 100% 50px;
}

.dialog .switchformbuttonsok, .dialog .switchformbuttonscancel {
    width:40%;
}

.dialog .switchformbuttonsok {
    margin-right: 125%;
}

.dialog .switchformbuttonscancel {
    margin-left: -8%;
}

#filterbutton {
    right: 0px;
    margin-top: -4px;

    padding: 2px 5px;
    padding-right: 25px;

    background-color: #F0F1EA;
    border-left: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
}

#filterbutton.filterbuttonhidden {
    background-position: 48px -34px;
    background-repeat: no-repeat;
}

#filterbutton.filterbuttonshown {
    background-position: 48px 23px;
    background-repeat: no-repeat;
}

/** little app hacks - make hooks for app specific mobile styles **/

#content div.project, #content div.user {
    margin-top: -100px;
    margin-bottom: 99px;
}

form.search input.submit {
    right: 2px;
}
