/*
 * HeadsUp Agile
 * Copyright 2009-2016 Heads Up Development Ltd.
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 */

body {
    background-color: white;
    font-family: "Myriad Pro", helvetica, sans-serif;
}

#page {
    text-align: left;
}

#content, #tinymce {
    font-size: 12pt;
    text-align: justify;
    color: #555a5a;
}

#tinymce td {
    font-size: 11pt;
}

a {
    color: #213474;
    font-weight: normal;
    text-decoration: none;
}

a.subtlelink {
    color: #dddddd;
}

a:hover {
    color: #3ccfff;
}

a.brokenlink {
    font-weight: normal;
    color: #555a5a;

    text-decoration: none;
    border-bottom: 1px dashed red;
}

a.brokenlink:hover {
    color: #3ccfff;
}

span.brokenlinkhint {
    vertical-align: top;
    font-size: 75%;
    color: #1298c4;
}

a img {
    text-decoration: none;
}

#header1 {
    padding: 0;
}

#header1, #header1 a {
    background-color: #21295e;
    color: #a5afd2;
}

#header1 .headbutton {
    height: 32pt;
    background-color: #2e3667;
}

#header1 .headbutton:hover {
    background-color: #21295e;
}

#header1 .headbutton img {
    padding-top: 6pt;
    width: 92pt;

    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    vertical-align: middle;
    opacity: 0.75;
}

#header1 .quicksearch {
    text-align: right;
}

#header1 .quicksearch .input {
    border: none;
    border-left: 1pt solid #2c3465;
    background-color: #21295e;
    color: #a5afd2;

    height: 100%;
    font-size: 10pt;
    padding: 0 5pt;
}

#header1 .quicksearch .input::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: #a5afd2;
}
#header1 .quicksearch .input::-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #a5afd2;
    opacity: 1;
}
#header1 .quicksearch .input:-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #a5afd2;
    opacity:  1;
}
#header1 .quicksearch .input:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #a5afd2;
}

#header1 .quicksearch .submit {
    padding: 0;

    background: url(images/search-right.png);
    background-position: right;
    background-repeat: no-repeat;

    font-size: 12pt;
    color: #505050;
}

#main {
    color: #303030;
}

#footer {
    padding: 0;

    background-color: #f7f7f7;
    background: -webkit-gradient(linear, left top, left bottom, from(#f9f9f9), to(#f5f5f5));
    background: -moz-linear-gradient(top,  #f9f9f9,  #f5f5f5);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9f9f9', endColorstr='#f5f5f5');

    color: #bebebe;
    font-size: 8pt;
    text-align: center;
}

#mainmenu, #submenu {
    font-weight: normal;
}

#mainmenu {
    background-color: #f6f6f6;

    font-size: 11pt;
    padding: 0;
    border-top: 1px solid #ebebeb;
}

#mainmenu li {
    border-bottom: 1px solid #ebebeb;
    border-left: 1.5pt solid #666666;
    padding: 9px 10px 8px 10px;
}

#mainmenu ul {
    padding: 0 30px;
}

#submenu {
    font-size: 11pt;
    text-align: right;
    margin: 40pt 12pt 0 0;
    padding: 10pt 0;
}

#submenu ul {
    background-color: #ebecee;
    padding: 4pt 0 !important;

    border: 1px solid #ebedf3;
    border-radius: 2.5pt;
}

#submenu li {
    padding: 11px 15px 10px 15px;
}

.mainmenu-item:hover, .mainmenu-item a:hover {
    background-color: #fefffe;
    color: #2e3667;
}

.mainmenu-item:hover span, .mainmenu-item a:hover span {
    color: #25b6e6;
}

.submenu-item:hover, .submenu-item a:hover {
    background-color: white;
}

.submenu-item:hover span, .submenu-item a:hover span {
    color: #25b6e6;
}

#mainmenu .mainmenu-item-selected {
    background-color: #fefffe;
    border-left: 3pt solid #2e3667;
}

#mainmenu .mainmenu-item-selected span {
    color: #2e3667;
}

#projectmenu {
    background-color: #2e3667;
    border-left: 1px solid #2d3566;
    border-right: 1px solid #2d3566;
}

#projectmenu.up {
    border-bottom: 0 solid #2d3566;
}

#projectmenu.down {
    border-bottom: 1px solid #2d3566;
}

#projectmenu-content {
    padding: 8px;

    color: #919abe;
    font-size: 12pt;
}

#projectmenu-content .alllink, #projectmenu-content .noprojects {
    padding-left: 8px;
}

#projectmenu-content a {
    color: #919abe;
    text-decoration: none;
    font-weight: bold;
}

#projectmenu-content a:hover, #projectmenu-content a.selected {
    color: #25b6e6;
}

#projectmenu .projectgroup {
    margin-top: 10px;
    color: #919abe;
    font-size: 90%;
    font-style: italic;
}

#projectmenu-content {
    margin-top: -10px;
}

#projectmenu ul {
    margin: 0;
    padding: 0;
    padding-left: 10px;
}

#projectselect {
    display: block;
    height: 23pt;
    width: 183pt;
    padding-top: 9pt;
    padding-left: 10pt;

    font-size: 12pt;
    font-weight: bold;
    color: #919abe;
}

#projectselect:hover {
    background-color: #2e3667;
}

#userdashboard {
    background-color: #d4d4d2;
    color: black;
}

#userdashboard .dashmilestone div.project {
    font-size: 120%;
    padding: 10px 0;
    color: #555959;
}

#userdashboard .dashmilestone .milestone {
    padding-bottom: 15px;
    margin-bottom: 5px;
    border-bottom: 1px solid #cfcfcf;
}

#userdashboard .dashmilestone .due {
    font-weight: bold;
}

#userdashboard .dashmilestone {
    padding: 0;
    padding-top: 5px;

    font-size: 120%;
    background-color: transparent;
}

#userdashboard .dashboard {
    background-color: white;
    margin: 10pt;
    padding: 0 10pt;
}

#userdashboard .dashheader {
    color: white;
    border: none;
    font-weight: bold;
    font-size: 95%;
    padding: 5pt 10pt;
    margin: 10pt;
    margin-bottom: -10pt;

    background-color: #505050;
    background: -webkit-gradient(linear, left top, left bottom, from(#6b6c6d), to(#3e403f));
    background: -moz-linear-gradient(top,  #6b6c6d,  #3e403f);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#6b6c6d', endColorstr='#3e403f');
}

#userdashboard .dashfooter {
    text-align: right;
    padding: 0 10pt;
    margin-bottom: 10pt;
}

#userdashboard .dashfooter .more {
   float: left;
}

#userdashboard table.issues {
    margin-top: -5px;
    margin-bottom: 15px;
}

#userdashboard.up {
    border-bottom: 0px solid #010101;
}

#userdashboard.down {
    border-bottom: 8px solid #252525;
}

#content table a {
    font-weight: normal;
}

#content table th a, #content table td.id, #content table td.id a,
 #content table th a:hover, #content table td.id a {
    font-weight: bold;
}

#content table a:hover {
    color: #25b6e6;
    font-weight: normal;
    text-decoration: none;
}

table {
    border-collapse: collapse;
    font-size: 10pt;
}

table th {
    border-top: 8px solid white;
    border-left: 1px solid #c3c3c3;

    padding: 5px 10px 5px 10px;
    margin: 0;

    text-align: left;
    color: #9fa0a2;
    font-weight: bold;
}

table td {
    padding: 5px 10px;

    border-top: 8px solid white;
    border-left: 1px solid white;
}

table td.pairedrow {
    border-top: none;
}

table.listing td {
    background-color: #f7f8f3;
}

table.listing tr:hover td {
    background-color: #f0fbfe;
}

table.listing td.nobackground {
    background-color: transparent;
}

table.listing tr:hover td.nobackground {
    background-color: transparent;
}

table.vertical th, th.vertical {
    border-top: none;
    border-left: none;

    padding: 5px 10px 5px 10px;
    margin: 0;

    text-align: left;
    color: #9fa0a2;
    font-weight: normal;
}

table.vertical td, table td.vertical {
    padding: 5px 10px 5px 25px;

    border-top: none;
    border-left: 1px solid #c3c3c3;
    color: #565a5b;
    font-weight: bold;
}

table.vertical td a, table td.vertical a,
 table.vertical td a span, table td.vertical a span {
    color: #565a5b;
    font-weight: bold;
    text-decoration: underline ;
}

table.vertical th.horizontal, th.horizontal {
    border-bottom: none;
    border-left: 1px solid #c3c3c3;
}

tr.details hr {
    margin: 10px 0;
    height: 1px;
    border: none;
    border-top: 1px solid #c3c3c3;
}

div.filterborder {
    background-color: #f6f8ff;
    border: 1px solid #ebedf3;
    border-radius: 2.5pt;
}

#filterbutton {
    background-color: #f6f8ff;
    border: 1px solid #ebedf3;
    border-radius: 2.5pt;
}

.comments .comment-title {
    color: #9fa0a2;
    padding-left: 0;
}

.comments td {
    border-left: none !important;
    font-weight: normal !important;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

h1 {
    border-left: 4pt solid #dcdcdc;
    padding-left: 10pt;

    font-size: 18pt;
}

img {
    border: 0;
}

div.error {
    border: 1px solid #BF6060;
    background-color: #FFDFDF;

    padding: 10px;
}

div.info {
    border: 1px solid #606060;
    background-color: #DFDFDF;

    padding: 10px;
}

/* button style */

.button {
    cursor: pointer;
    color: #545A5A;

    font-weight: bold;
    height: 34px;
    white-space: nowrap;

    text-decoration: none;
    padding: 10px 15px;

    font-size: 12pt;
    background-color: #ebecee;
}

.button:hover, .buttonpressed {
/*    background-color: white; */
    color: #25b6e6;
}

.switchformbuttonsok {
    position: absolute;
    left: 54.8%;

    width: 150px;
    margin-top: 5px;
}

.switchformbuttonscancel {
    position: absolute;
    left: 12.5%;

    width: 150px;
    margin-top: 5px;
}

.formbuttons {
    height: 22px;
}
