/*
 * HeadsUp Agile
 * Copyright 2010-2014 Heads Up Development.
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 */


table.browse {
    width: 100%;
    border-collapse: collapse;
}

table.browse .icon {
  width: 16px;
}

table.browse .title {
    white-space: nowrap;
}

table.browse .revision {
    width: 80px;
}

table.browse .date {
    width: 120px;
    white-space: nowrap;
}

table.browse th {
    border-bottom: 1px solid black;
}

table.browse td {
    color: black;
    font-size: 90%;
}

table.browse td.size {
    font-size: 75%;
    color: #999999;
    width: 80px;
    white-space: nowrap;
}

table.browse a {
    text-decoration: none;
    color: black;
}

table.browse img {
    padding-right: 5px;
}

table.browse .unknown {
    color: #999999;
}
