<!--
  ~ HeadsUp Agile
  ~ Copyright 2013 Heads Up Development.
  ~
  ~ This program is free software: you can redistribute it and/or modify
  ~ it under the terms of the GNU Affero General Public License as
  ~ published by the Free Software Foundation, either version 3 of the
  ~ License, or (at your option) any later version.
  ~
  ~ This program is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~ GNU Affero General Public License for more details.
  ~
  ~ You should have received a copy of the GNU Affero General Public License
  ~ along with this program.  If not, see <http://www.gnu.org/licenses/>.
  -->

<html>
<body>
<wicket:panel>

  <div wicket:id="filter">
    <form wicket:id="filterform" name="appFilterForm">
      <table class="listing">
        <tr><th colspan="2">Application Filter</th></tr>
        <tr><td colspan="2">
          <div wicket:id="applist" class="filterapp">
             <span class="filter-item"><input type="checkbox" wicket:id="app-check" />
             <span wicket:id="app-label">type</span></span>
          </div>
          <input type="button" value="All" onclick="checkAll(true);"/>
          <input type="button" value="None" onclick="checkAll(false);"/>
        </td></tr>
        <tr><td class="buttons" colspan="2">
          <input type="submit" value="Apply" wicket:id="applybutton" />
          <input type="reset" value="Cancel" wicket:id="cancelbutton" />
        </td></tr>
      </table>
      <script type="text/javascript">
          function checkAll(toggle)
          {
            var checkboxes = new Array();
            checkboxes = document.forms['appFilterForm'].getElementsByTagName('input');
            for (var i = 0; i < checkboxes.length; i++)
            {
              if (checkboxes[i].type === 'checkbox')
              {
                checkboxes[i].checked = toggle;
              }
            }
          }
        </script>
    </form>
  </div>

</wicket:panel>
</body>
</html>