/*
 * HeadsUp Agile
 * Copyright 2009-2013 Heads Up Development Ltd.
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 */

p.projectgraphgroup {
    display: block;
    width: 100%;
    clear: both;

    color: gray;
    border-bottom: 1px solid lightgrey;
}

img.activitygraph {
    width: 256px;
}

img.accountgraph {
    width: 226px;
}

img.activitygraph, img.accountgraph {
    height: 150px;
    margin: 5px;
}

img.icon {
    padding: 0 2px;
    vertical-align: middle;
}

#content div.project {
    width: 271px;
}

#content div.user {
    padding-top:20px;
    width: 241px;
}

#content div.project, #content div.user {
    float: left;
    height: 230px;

    padding-bottom: 5px;

    text-align: center;
    font-size: 90%;
    white-space: nowrap;
    overflow: hidden;
}

#content div.project span.caption, #content div.user span.caption {
    display: block;
    margin-top: -5px;
}

#content div.project span.caption {
    padding-right: 30px;
}

#content div.project a, #content div.user a {
    border: none;
}

#content div.project a:hover, #content div.user a:hover,
#content div.project a:hover span, #content div.user span a:hover {
    background-color: transparent;
}

table.project-details th {
    width: 20%;
}

table.project-details td {
    width: 30%;
}

table.project-details, table.details, table.moredetails {
    width: 100%;
}

.gravatar {
    padding-top:5px;
}
