/*
 * HeadsUp Agile
 * Copyright 2010-2014 Heads Up Development Ltd.
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 */


table.info, table.info, table.relationships, table.changesets, table.comments, table.attachments {
    width: 100%;
}

.summary input, .environment input, .details textarea {
    width: 100%;
}

table.info, table.relationships, table.changesets, table.comments, table.attachments {
    margin-top: 1em;
}

table.info td.type img, table.info td.priority img {
    padding-right: 5px;
}

.comment-icon {
    width: 16px;
}

.relationships .relatedstatus {
    background-color: transparent;
}

.relatedstatus.status50, .relatedstatus.status60 {
    text-decoration: line-through;
}

tr.details td {
    border-left: none;
    font-weight: normal;

    vertical-align: top;
}

table.comments td, table.attachments td {
    border-left: none;
    padding: 0 3px;
}

.sidebar {
    border-left: 1px solid #c3c3c3 !important;
}
