<!--
  ~ HeadsUp Agile
  ~ Copyright 2009-2014 Heads Up Development Ltd.
  ~
  ~ This program is free software: you can redistribute it and/or modify
  ~ it under the terms of the GNU Affero General Public License as
  ~ published by the Free Software Foundation, either version 3 of the
  ~ License, or (at your option) any later version.
  ~
  ~ This program is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~ GNU Affero General Public License for more details.
  ~
  ~ You should have received a copy of the GNU Affero General Public License
  ~ along with this program.  If not, see <http://www.gnu.org/licenses/>.
  -->

<html>
  <body>
    <wicket:panel>
      <form wicket:id="IssueInlineForm">
        <table class="issues listing">
          <thead>
          <tr>
            <td colspan="8" class="paging" wicket:id="headerPaging"></td>
          </tr>
          </thead>
          <tr>
            <th>
              <a id="quickAdd" wicket:id="quickAdd">
                <div id="icon" wicket:id="icon">
                  <script type="text/javascript">
                    function moveIconBackground( value ) {
                      Wicket.$('icon').style.backgroundPosition = '0px ' + ( 0 + ( value * 16 ) ) + 'px';
                    }
                  </script>
                </div>
              </a>
            </th>
            <th>
              <div class="id" wicket:id="orderById" style="width:5pt">#</div>
            </th>
            <th class="summary" wicket:id="orderBySummary">Summary</th>
            <th class="status" wicket:id="orderByStatus">Status</th>
            <th class="type" wicket:id="orderByPriority">Type</th>
            <th class="order" wicket:id="orderByOrder">Order</th>
            <th class="assigned" wicket:id="orderByAssigned">Assigned</th>
            <th class="project" wicket:id="orderByProject">Project</th>
            <th class="milestone" wicket:id="orderByMilestone">Milestone</th>
            <th class="hours" wicket:id="hours-header">Remaining</th>
          </tr>
          <tr wicket:id="rowAdd" id="rowAdd" class="rowAdd">
            <td>
              <label></label>
            </td>
            <td>
              <input wicket:id="submit" type="submit" value="Add" id="submit"/>
            </td>
            <td>
              <input wicket:id="summary" id="summary" type="text" style="width:150pt"/>
            </td>
            <td>
              <label wicket:id="status" id="status">
              </label>
            </td>
            <td>
              <select wicket:id="type" id="type">
              </select>
            </td>
            <td>
              <input wicket:id="rank" id="rank" type="text" style="width:15pt"/>
            </td>
            <td>
              <select wicket:id="assignee" id="assignee">
              </select>
            </td>
            <wicket:enclosure>
              <td>
                <span wicket:id="project" id="pro">
                </span>
              </td>
            </wicket:enclosure>
            <wicket:enclosure>
              <td>
                <select wicket:id="milestone" id="milestone">
                </select>
              </td>
            </wicket:enclosure>
            <td>
              <input wicket:id="timeEstimate" id="timeEstimate"/>
            </td>
          </tr>

          <wicket:container wicket:id="issues">
            <wicket:container wicket:id="issue"></wicket:container>
          </wicket:container>

          <tfoot>
          <tr>
            <td colspan="8" class="paging" wicket:id="footerPaging"></td>
          </tr>

          <tr wicket:id="totals" class="total">
            <td colspan="6" wicket:id="allCell" class="allcell"><a wicket:id="allLink">Show all...</a></td>
            <td wicket:id="requiredlabel">total</td>
            <td wicket:id="hours" class="hours">0h</td>
          </tr>
          </tfoot>
        </table>
       </form>
    </wicket:panel>
  </body>
</html>
