/*
 * HeadsUp Agile
 * Copyright 2010-2014 Heads Up Development Ltd.
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 */


table.issues {
    width: 100%;
}

th.id {
    width: 16px;
}

th.type, td.type, th.assigned, td.assigned, th.milestone, td.milestone {
    width: 75px;
    white-space: nowrap;
}

th.hours, td.hours {
    width: 20px;
    white-space: nowrap;
}

table.issues tr.total td {
    font-weight: bold;
    text-align: right;
    background-color: white;
}

table.issues tr.total td.allcell {
    text-align: left;
}

table td {
    border-top: 8px solid white;
    border-left: 1px solid white;
}

.relatedstatus.status50, .relatedstatus.status60 {
    text-decoration: line-through;
}

table.issues td.hours {
    text-align: right;
}

.attachment-filename {
    width: 50%;
}

.attachment-username, .attachment-created {
    width: 25%;
}

.listing .rowhidden, .listing .rowAdd {
    height: 0;
}

.listing .rowshown {
    height:auto;
}

.listing .rowAdd td {
    padding: 0 10px;
}

#pro.hidden, #submit.hidden, #summary.hidden, #status.hidden, #type.hidden, #rank.hidden, #assignee.hidden, #milestone.hidden, #timeEstimate.hidden{
    display:none !important;
    overflow:hidden;
}

#pro.shown, #submit.shown, #summary.shown, #status.shown, #type.shown, #rank.shown, #assignee.shown, #milestone.shown, #timeEstimate.shown{
    display:block !important;
    overflow:hidden;
}

#pro, #submit, #summary, #status, #type, #rank, #assignee, #milestone, #timeEstimate{
    display:none;
}

.listing #addIcon.iconPlus{
    background-image: url( /resources/org.headsupdev.agile.web.HeadsUpPage/images/add.png )!important;
    height:130%;
}

.listing #addIcon.iconMinus{
    background-image: url( /resources/org.headsupdev.agile.web.HeadsUpPage/images/delete.png )!important;
    height:100%;
}

.listing #addIcon{
    background-image: url( /resources/org.headsupdev.agile.web.HeadsUpPage/images/add.png );
    height:16px;
    width:16px;
}