/*
 * HeadsUp Agile
 * Copyright 2010-2014 Heads Up Development Ltd.
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 */

table.milestones, table.info, table.details, table.comments, table.remaining {
    width: 100%;
}

table.milestones td.issues, table.milestones td.bar, table.milestones td.open,
 table.milestones td.project, table.milestones td.due {
    width: 100px;
    white-space: nowrap;
}

table.milestones td.open, table.milestones td.issues {
    width: 50px;
}

table.milestones td.due {
    font-weight: bold;
}

/* Milestone groups */
table.milestones.listing {
    margin-bottom: 1em;
}

table.milestones.listing .paging.top {
    display: none;
}

h2.groupname {
    font-size: 120%;
}

div.bar.group {
    float: right;
    width: 250px;
    white-space: nowrap;
    font-size: 90%;
}

/* Milestone details */

table.issues td.allcell {
    text-align: left;
    background-color: white;
}

.details textarea {
    width: 100%;
}

table.details, table.comments, table.key, div.percent-bar {
    margin-top: 1em;
}

table.comments {
    margin-bottom: 1em;
}

table.key, div.percent-bar {
    width: 100%;
}

table.key td {
    width: 17%;
    text-align: center;
}

.statusoverdue {
    color: #e95622 !important;
}

.statusduesoon {
    color: #ee8c0c !important;
}

.statusnotdue {
    color: #5db008 !important;
}

.comment-icon, .milestone-check {
    width: 16px;
}

div.milestonegraph {
    width: 100%;
    text-align: center;
}

img.milestonegraph {
    padding: 10px;

    margin-left: auto;
    margin-right: auto;
}

table.remaining td.number {
    text-align: center;
}

.inlinevelocity td.dashheader, .inlinevelocity td.velnumber, .inlinevelocity td.dashfooter{
    border-left: none;
}

.comment-text {
    position:relative;
    bottom:10px;
    left:5px
}

